! -*- bgp -*-
!
! BGPd sample configuratin file
!
! $Id: bgpd.conf.sample,v 1.1 2002/12/13 20:15:29 paul Exp $
!
{% if quagga_hostname is defined %}
hostname {{ quagga_hostname }}
{% endif %}
{% if quagga_hostname is not defined %}
hostname {{ ansible_hostname }}
{% endif %}
password {{ quagga_password }}
enable password {{ quagga_enable_password }}
!
log file /var/log/quagga/bgpd.log
log stdout
log syslog
log monitor
!
service password-encryption
!
{% if quagga_config_bgpd is defined and quagga_config_bgpd %}
{%   if quagga_bgp_router_configs is defined %}
{%     if item.prefix_lists is defined %}
{%       for pl in item.prefix_lists %}
ip prefix-list {{ pl.name }} seq {{ pl.sequence }} {{ pl.action }} {{ pl.network }}
{%       endfor %}
{%     endif %}
router bgp {{ item.local_as }}
 bgp router-id {{ item.router_id }}
 bgp log-neighbor-changes
{%     if item.network_advertisements is defined %}
{%         for adv in item.network_advertisements %}
 network {{ adv }}
{%         endfor %}
{%       endif %}
{%     for nbr in item.neighbors %}
 neighbor {{ nbr.neighbor }} remote-as {{ nbr.remote_as }}
{%       if nbr.description is defined %}
 neighbor {{ nbr.neighbor }} description "{{ nbr.description }}"
{%       endif %}
 neighbor {{ nbr.neighbor }} next-hop-self
 neighbor {{ nbr.neighbor }} soft-reconfiguration inbound
{%       if nbr.prefix_lists is defined %}
{%         for pl in nbr.prefix_lists %}
 neighbor {{ nbr.neighbor }} capability orf prefix-list {{ pl.orf }}
{%           if pl.orf|lower == "send" or pl.orf|lower == "both" %}
 neighbor {{ nbr.neighbor }} prefix-list {{ pl.name }} {{ pl.direction }}
{%           endif %}
{%         endfor %}
{%       endif %}
{%     endfor %}
{%   endif %}
{% endif %}
