!
! Zebra configuration saved from vty
!   2014/09/28 21:25:52
!
{% if quagga_hostname is defined %}
hostname {{ quagga_hostname }}
{% endif %}
{% if quagga_hostname is not defined %}
hostname {{ ansible_hostname }}
{% endif %}
password {{ quagga_password }}
enable password {{ quagga_enable_password }}
log file /var/log/quagga/zebra.log
log syslog
service password-encryption
!
debug zebra events
debug zebra packet
!
{% if quagga_interfaces is defined and quagga_defined_interfaces %}
{%   for qdi in quagga_interfaces %}
interface {{ qdi.int }}
{%     if qdi.address is defined %}
 ip address {{ qdi.address }}/{{ qdi.cidr }}
 ipv6 nd suppress-ra
{%     endif %}
{%   endfor %}
!
{% endif %}
ip forwarding
ipv6 forwarding
!
!
line vty
!
